# Compiled files
*.o
*.a
libasm_tester

# Cache files
.libasm_path

# Valgrind logs
valgrind_raw.log
valgrind_summary.log
valgrind.log
valgrind.supp

# Editor files
.vscode/
.DS_Store
*~
*.swp
*.swo

# Backup files
*_backup
*.bak
